/* components.css */
.logo{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.darkmode {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: var(--theme-darkmode);
}

.brands {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: max-content;
  gap: 1.5rem;
  unicode-bidi: isolate;
  margin-bottom: 4rem;
}
.logosvg {
  width: 2.5em;
  height: 3em;
}
.headerboxs {
  display: flex;
  flex-direction: column;
  column-gap: 0.2rem;
}
.grayscale {
  filter: grayscale(100%);
}
.sosmedbox {
  margin-bottom: 2rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  display: inline-flex;
  gap: 1rem;
}
.subtitlel-long {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.greeting {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: hsl(var(--theme-accent-2) / 1);
}
.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: hsl(var(--theme-accent-2) / 1);
}
.headline {
  font-size: 1rem;
  line-height: 1.4rem;
  color: hsl(var(--theme-accent-2) / 2);
}
.sosmed-header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.sosmed-header > svg {
  width: 25px;
  height: 25px;
  padding: 3px;
  color: inherit;
  transition: 1s ease-in-out;
}
.sosmed-header > svg:hover {
  padding: 0px;
  cursor: pointer;
}
article > h3 {
  font-size: 1.2rem;
  color: var(--theme-text);
  font-weight: 500;
  margin-top: 0.5rem;
}
article > p {
  font-size: 14px;
  line-height: 1.2rem;
  text-indent: 5;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 5px;
}
.readmore {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.readmore > a {
  color: var(--theme-link);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  outline: 1px solid transparent;
  outline-offset: 2px;
  transition: outline-color 1s ease-in-out;
  transition: border-bottom 1s ease-out;
  font-size: 14px;
  text-align: center;
  padding: 2px;
}

.readmore > a:hover {
  outline-color: currentColor;
  border-bottom: 1px solid transparent;
}
