/* components.css */
.logo{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.darkmode {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: var(--theme-darkmode);
}

.brands {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: max-content;
  gap: 1.5rem;
  unicode-bidi: isolate;
  margin-bottom: 4rem;
}
.logosvg {
  width: 2.5em;
  height: 3em;
}
.headerboxs {
  display: flex;
  flex-direction: column;
  column-gap: 0.2rem;
}
.grayscale {
  filter: grayscale(100%);
}
.sosmedbox {
  margin-bottom: 2rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  display: inline-flex;
  gap: 1rem;
}
.subtitlel-long {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.greeting {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: hsl(var(--theme-accent-2) / 1);
}
.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: hsl(var(--theme-accent-2) / 1);
}
.headline {
  font-size: 1rem;
  line-height: 1.4rem;
  color: hsl(var(--theme-accent-2) / 2);
  padding-left: 0.5rem;
}
.sosmed-header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.sosmed-header > svg {
  width: 25px;
  height: 25px;
  padding: 3px;
  color: inherit;
  transition: 1s ease-in-out;
}
.sosmed-header > svg:hover {
  padding: 0px;
  cursor: pointer;
}
article > h3 {
  font-size: 1.2rem;
  color: var(--theme-text);
  font-weight: 500;
  margin-top: 0.5rem;
}
article > p {
  font-size: 14px;
  line-height: 1.2rem;
  text-indent: 5;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 5px;
}
.readmore {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.readmore > a {
  color: var(--theme-link);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  outline: 1px solid transparent;
  outline-offset: 2px;
  transition: outline-color 1s ease-in-out;
  transition: border-bottom 1s ease-out;
  font-size: 14px;
  text-align: center;
  padding: 2px;
}

.readmore > a:hover {
  outline-color: currentColor;
  border-bottom: 1px solid transparent;
}
#case-studies >article{
  padding-left: 0.5rem;
}
#services,#process{
  margin-top: 2rem;
}
.service-list{
  margin-top: -3.5rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.process-list{
  margin-top: -3.5rem;
  list-style-type: disc;
  padding-left: 0.5rem;
}
.process-list > li:nth-child(0) {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.process-list > li {
  padding-bottom: 1rem;
}
#experience{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.experience-list,.techstack-list{
  list-style: decimal;
  padding-left: 0.9rem;
  padding-top: 1rem;
}
.experience-list > li,.techstack-list > li {
  padding-bottom: 1rem;
}
#tech-stack > header{
    margin-bottom: 0.2rem;
}
.contentloading{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: 100dvh;
}
.badge{
  background-color: var(--theme-accent);
  margin-top: 1rem;
  padding: 2px;
  font-size: 12px;
  border-radius: 10%;
  color: var(--theme-bg);
  width: max-content;
}
.stack{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.markdown-body {
  padding: 2rem;
  border-radius: 16px;
  line-height: 1.75;
  background-color: var(--theme-markdown) !important;
    color: var(--theme-text) !important;
}
.markdown-body table tr{
    background-color: var(--theme-markdown) !important;
    color: var(--theme-text) !important;
}

/* LIGHT */
.markdown-body.light {
  background-color: #ffffff;
  color: #0f172a;
}

/* DARK */
.markdown-body.dark {
  background-color: #020617;
  color: #e5e7eb;
}

/* headings */
.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  font-weight: 600;
}

/* links */
.markdown-body.light a {
  color: #2563eb;
}
.markdown-body.dark a {
  color: #38bdf8;
}

/* blockquote */
.markdown-body blockquote {
  border-left: 4px solid;
  padding-left: 1rem;
  opacity: 0.9;
}
.markdown-body.light blockquote {
  border-color: #c7d2fe;
}
.markdown-body.dark blockquote {
  border-color: #38bdf8;
}
.markdown-body img {
  width: 100%;
  border-radius: 12px;
  margin: 1rem 0;
  max-height: 300px;
}
.code-block {
  border-radius: 12px;
  overflow: hidden;
  margin: 1.5rem 0;
}

.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 0.4rem 0.75rem;
  font-size: 0.75rem;
}

.code-lang {
  text-transform: uppercase;
  opacity: 0.8;
}

.code-header button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.7;
}

.code-header button:hover {
  opacity: 1;
}

/* Hover efek */
.code-block:hover .code-header {
  background: rgba(0, 0, 0, 0.6);
}
