/* layout.css */
footer {
  background: var(--theme-bg);
}
main {
 flex: 1 0 auto;
}
footer {
  margin-top: 10rem;
  flex-shrink: 0;
}
footer > section {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: end;
  font-size: x-small;
}
section{
  min-width: 100%;
}
p{
  line-height: 1.2rem; 
  letter-spacing: 0.5;
}

#navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  row-gap: 1rem;
  justify-items: center;
  margin-top: 5px;
}
#navigation a {
  color: var(--theme-accent);
  border-right: 1px dashed var(--theme-navborder, currentColor);
  padding-right: 1rem;
  margin-right: 0.5rem;
}

#navigation a:last-child {
  border-right: none;
  padding-right: 1;
  margin-right: 0;
}
article{
  margin-top: 3rems;
  display: flex;
  flex-direction: column;
  gap: 4;
}